.post-card {
    color: inherit;
    text-decoration: none;
}

.post-card:hover {
    text-decoration: none;
}

.post-card-tags {
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    line-height: 1.15em;
 
    span {
        border: 1px solid var(--color-base);
        color: var(--color-base);
        background-color: var(--color-white);
        padding: .5em 1em;
        border-radius: 2rem;
        text-transform: uppercase;
        margin-right: 1em;
        font-weight: 700;
        font-size: .8rem;
        white-space: nowrap;
        transition: background .5s ease-in;

        a {
            color: inherit;
        }

        &:hover {
            background-image: linear-gradient(to right,#f00,#da1b60);
            border: none;
            color: var(--color-white);
            box-shadow: 0 .3em 1em var(--color-base);
            margin-right: calc(1em + 2px);
        }
    }
}

.post-card-title {
    margin: 0 0 10px 0;
    padding: 0;

    &:hover {
        background-image: linear-gradient(to right,#f00,#da1b60);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        text-shadow: none;
    }
}

.post-card-excerpt {
    font-size: 1.6rem;
    line-height: 1.55em;
}

.post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 320px;
    background: var(--color-secondary) no-repeat center center;
    background-size: cover;
}

.post-card-header-right {
    font-size: 1rem;
    line-height: 1;
}

.post-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    color: var(--color-secondary);
}

.post-card-footer-left {
    display: flex;
    align-items: center;
}

.post-card-footer-right {
    display: flex;
    flex-direction: column;
}

.post-card-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-avatar .author-profile-image {
    display: block;
    width: 100%;
    background: var(--color-secondary);
    border-radius: 100%;
    object-fit: cover;
}

.post-card-avatar .default-avatar {
    width: 26px;
}