@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .homepage {
        .viewport {
            max-width: 1220px;
        }
    }

    .viewport {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
    }

    .site-head {
        padding: 1.5rem 1rem;

        .container {
            margin-left: -1rem;
            margin-right: -1rem;
            margin-top: -11rem;
        }

    }

    .cover-image {
        height: 20rem;
        margin-bottom: 2rem;
    }

    .site-banner-title {
        font-size: 4rem;
    }

    .post-feed {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
        grid-auto-flow: dense;

        article:nth-child(31n + 1) {
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: 1.9fr 1fr;	

            .post-card-main {
                padding: 1.8rem 2.2rem;
            }

            .post-card-image {
                height: 100%;
                min-height: 350px;
            }
        }

        article {
            border-radius: 4px;
            background-color: #fff;
            transition-property: box-shadow, transform;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                box-shadow: rgba(13, 13, 18, 0.04) 0px 8px 24px 0px;
                transform: scale(1.01);
            }
        }
    }
}
